@charset "UTF-8";

.title-box {
	border: solid 1px #000;
}

.title-box__title {
	padding: .5em 1em !important;
	color: #fff;
	line-height: 1.5;
	text-align: center;
	background-color: #000;
}

.title-box__body {
	margin: 0 !important;
	padding: 1.5em 1em !important;
}
