.editor-styles-wrapper {
	.qms4__panel-menu {
		display: flex;
		flex-direction: column;
		gap: 8px;

		background-color: #242424;
	}

	.qms4__panel-menu > .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		flex-direction: column;
		gap: 8px;

		width: 40%;
		padding: 4px 0;

		border-right: 1px solid #c9c9c9;

		> .block-list-appender {
			position: static;
			display: block;
			width: calc( 100% - 32px );
			margin: 0 auto;
			background-color: #fffc;
		}
	}

	.qms4__panel-menu:not(.is-selected, .has-child-selected) > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-list-appender {
		display: none;
	}
}
