.wp-block-qms4-timetable {
	td:not(:root) {
		vertical-align: middle;
	}

	.comment {
		margin: 0;
		margin-bottom: .4em;

		font-size: .9em;
		text-align: center;
	}

	.reserve_time--dummy {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		height: 3em;
		margin: 0;

		color: var(--wp--preset--color--white);
		background-color: var(--wp--preset--color--vivid-cyan-blue);
		cursor: pointer;

		&::after {
			position: absolute;
			top: 50%;
			right: 10px;
			z-index: 1000;
			transform: translateY(-50%);

			content: "";

			display: block;
			width: 0;
			height: 0;

			border: 3px solid transparent;
			border-left: 5px solid var(--wp--preset--color--white);
		}
	}

	.qms4__timetable__button-remove-row {
		border: none;
		border-radius: 4px;
		background: none;
		background-color: var(--wp--preset--color--cyan-bluish-gray);

		cursor: pointer;
	}

	.qms4__timetable__button-add-row {
		position: relative;

		width: 100%;
		padding: .4em 0;

		border: none;
		border-radius: 4px;
		background: none;
		background-color: var(--wp--preset--color--cyan-bluish-gray);

		white-space: nowrap;
		overflow: hidden;
		text-indent: 200%;

		cursor: pointer;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1000;

			transform: translate(-50%,-50%);

			content: "+";

			text-indent: 0;
		}
	}
}
