.qms4__post-list__post-title.qms4__post-list__post-title:not(:root) {
	margin: 0;
	margin-top: 8px;

	&:first-child {
		margin-top: 0;
	}
}

.qms4__post-list__post-title {
	font-weight: 700;
	line-height: 1.4;

	&[data-text-align=left] { text-align: left; }
	&[data-text-align=center] { text-align: center; }
	&[data-text-align=right] { text-align: right; }
	&[data-text-align=justify] { text-align: justify; }

	&[data-num-lines-pc="1"],
	&[data-num-lines-pc="2"],
	&[data-num-lines-pc="3"] {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	&[data-num-lines-pc="1"] { -webkit-line-clamp: 1; }
	&[data-num-lines-pc="2"] { -webkit-line-clamp: 2; }
	&[data-num-lines-pc="3"] { -webkit-line-clamp: 3; }
}

@media ( max-width: 599px ) {
	.qms4__post-list__post-title {
			&[data-num-lines-sp="1"],
			&[data-num-lines-sp="2"],
			&[data-num-lines-sp="3"] {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
			&[data-num-lines-sp="1"] { -webkit-line-clamp: 1; }
			&[data-num-lines-sp="2"] { -webkit-line-clamp: 2; }
			&[data-num-lines-sp="3"] { -webkit-line-clamp: 3; }
	}
}
