.qms4__panel-menu__item {
	&__label {
		color: #ffffff;
	}
	&[data-show-submenu=true] &__label {
		&::after {
			content: "";

			position: absolute;
			top: 50%;
			right: 16px;
			z-index: 1;

			transform: translateY(-50%) rotate(-45deg);

			display: block;
			width: 8px;
			height: 8px;

			border-right: 1px solid #faf6f0;
			border-bottom: 1px solid #faf6f0;
		}
	}

	&__content {
		display: none;

		background-color: #faf6f0;
	}
	&.is-selected[data-show-submenu=true] &__content,
	&.has-child-selected[data-show-submenu=true] &__content {
		display: block;
	}
}
