.editor-styles-wrapper .qms4__infotable .wp-block {
	margin-top: 0;
}

.qms4__infotable {
	padding: 8px;

	&.has-child-selected::after,
	&:hover::after {
		outline: 1px dashed #7b86a266;
		z-index: 1;
	}

	.block-list-appender {
		position: static;
		grid-column: 1 / -1;
	}
	&:not(.is-selected):not(.has-child-selected) .block-list-appender {
		display: none;
	}
}

.qms4__infotable--num-columns-2 {
	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: grid;
		grid-template-columns: 1fr;
		gap: 0;  // ブロックエディタのクリック領域を確保するため gap ではなく padding で間隔の調整をする
	}

	.qms4__infotable-row {
		grid-template-columns: 200px 1fr;
	}
}

.qms4__infotable--num-columns-4 {
	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0;  // ブロックエディタのクリック領域を確保するため gap ではなく padding で間隔の調整をする
	}

	.qms4__infotable-row {
		grid-template-columns: 160px 1fr;
	}
	.qms4__infotable-row--wide {
		grid-column: 1 / -1;
	}
}

@media ( max-width: 599px ) {
	.qms4__infotable--num-columns-4 {
		> .block-editor-inner-blocks > .block-editor-block-list__layout {
			grid-template-columns: 1fr;
		}
	}

	.qms4__infotable--num-columns-2,
	.qms4__infotable--num-columns-4 {
		.qms4__infotable-row {
			grid-template-columns: 2fr 3fr;
		}
	}
}

// style.scss 打消し
.editor-styles-wrapper {
	.qms4__infotable--num-columns-2,
	.qms4__infotable--num-columns-4 {
		display: block;
		grid-template-columns: unset;
		gap: unset;
	}
}
