.qms4__infotable--num-columns-2 {
	display: grid;
	grid-template-columns: 1fr;
	gap: 4px;

	.qms4__infotable-row {
		grid-template-columns: 200px 1fr;
	}
}

.qms4__infotable--num-columns-4 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2px;

	.qms4__infotable-row {
		grid-template-columns: 160px 1fr;
	}
	.qms4__infotable-row--wide {
		grid-column: 1 / -1;
	}
}

@media ( max-width: 599px ) {
	.qms4__infotable--num-columns-4 {
		grid-template-columns: 1fr;
	}

	.qms4__infotable--num-columns-2,
	.qms4__infotable--num-columns-4 {
		.qms4__infotable-row {
			grid-template-columns: 2fr 3fr;
		}
	}
}
