.qms4__infotable-row {
	display: grid;
	gap: 8px;

	width: 100%;
	padding: 4px;

	> dt,
	> dd {
		display: block;
		width: 100%;
		margin: 0 !important;
		padding: 8px;
		border: 1px solid var(--wp--preset--color--cyan-bluish-gray);
	}

	> dt {
		background-color: var(--wp--preset--color--cyan-bluish-gray);
	}
}
