.qms4__event-calendar {
	&__header {
		position: relative;
		height: 28px;
	}

	&__current-year-month {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100%;

		font-size: 1.2em;
		font-weight: 700;
	}

	&__button_prev,
	&__button_next {
		background: none;
		border: none;

		cursor: pointer;
	}

	&__button_prev {
		position: absolute;
		left: 0;
		top: 50%;
		z-index: 1000;

		transform: translateY(-50%);

		&::before {
			content: "<";
		}
	}

	&__button_next {
		position: absolute;
		right: 0;
		top: 50%;
		z-index: 1000;

		transform: translateY(-50%);

		&::after {
			content: ">";
		}
	}

	&__body-header {
		display: grid;
		grid-template-columns: repeat(7, 1fr);

		border-top: 1px solid var(--wp--preset--color--cyan-bluish-gray);
		border-left: 1px solid var(--wp--preset--color--cyan-bluish-gray);

		div {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: .2em 0;

			font-size: .9em;
			font-weight: 700;

			border-right: 1px solid var(--wp--preset--color--cyan-bluish-gray);
			border-bottom: 1px solid var(--wp--preset--color--cyan-bluish-gray);
		}
	}

	&__body-main {
		display: grid;
		grid-template-columns: repeat(7, 1fr);

		border-left: 1px solid var(--wp--preset--color--cyan-bluish-gray);
	}

	&__day {
		border-right: 1px solid var(--wp--preset--color--cyan-bluish-gray);
		border-bottom: 1px solid var(--wp--preset--color--cyan-bluish-gray);

		input[type=checkbox] {
			display: none;
		}

		label {
			display: flex;
			justify-content: center;
			align-items: center;

			width: 100%;
			height: 100%;
			padding: .2em 0;

			box-sizing: border-box;

			user-select: none;
		}

		input[type=checkbox]:checked + label {
			color: var(--wp--preset--color--white);
			background-color: var(--wp--preset--color--vivid-cyan-blue);
		}

		&.out_of_month {
			color: var(--wp--preset--color--cyan-bluish-gray);
		}
	}

	&__nav-overwrite {
		display: flex;
		margin-top: 32px;

		select, a {
			flex-grow: 1;
		}
	}
}
