.qms4__event-overwrite {
	&__overwrite-enable {
		display: flex;
		justify-content: center;
		align-items: center;

		margin-bottom: 24px;

		font-size: 1.4em;
	}

	&__parent,
	&__overwrite {
		padding: 24px;
		border: 1px solid #999;

		color: #999;
		background-color: #eee;

		h3 {
			margin: -24px -24px 0;
			padding: .2em;
			font-size: 15px;
			text-align: center;
			background-color: #ddd;
			border-bottom: 1px solid #999;
		}
	}
	&__parent--active,
	&__overwrite--active {
		color: #000;
		background-color: transparent;
	}

	&__parent-title,
	&__overwrite-title {
		dl {
			display: flex;
			align-items: center;

			font-size: 1.1em;
		}

		dt {
			flex-basis: 140px;

			margin-right: .5em;
			font-weight: 700;

			&::after {
				content: ":";
				margin-left: .2em;
			}
		}

		dd {
			flex-grow: 1;
			margin: 0;
		}

		.components-base-control__field {
			margin: 0 !important;
		}
		.components-text-control__input {
			width: 100%;
		}
	}

	&__parent-timetable,
	&__overwrite-timetable {
		table {
			width: 100%;
			border-collapse: collapse;
			border-top: 1px solid #bbb;
			border-left: 1px solid #bbb;
		}

		th, td {
			padding: .5em;
			border-right: 1px solid #bbb;
			border-bottom: 1px solid #bbb;
		}

		&__field-capacity {
			width: 60px;
		}

		&__comment {
			margin: 0;
			margin-bottom: 8px;

			text-align: center;

			&:empty {
				margin-bottom: 0;
			}

			> span::after {
				content: attr(data-rich-text-placeholder);
				opacity: .63;
			}
		}

		&__button {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 3em;
			margin: 0;
			color: #fff;
			background-color: #999;
			cursor: pointer;

			&::after {
				content: "";

				position: absolute;
				right: 10px;
				top: 50%;
				z-index: 10;

				transform: translateY(-50%);

				display: block;
				width: 0;
				height: 0;

				border: 3px solid transparent;
				border-left: 5px solid #fff;
			}

			> span::after {
				content: attr(data-rich-text-placeholder);
				opacity: .63;
			}
		}

		&__field-remove {
			width: 60px;
			text-align: center;
		}

		&__button-add-row {
			width: 100%;
		}
	}
	&__parent--active &__parent-timetable__button,
	&__overwrite--active &__overwrite-timetable__button {
		background-color: #0693e3;
	}

	&__timetable-empty {
		padding: 8px;
		text-align: center;
		border: 1px dashed #666;
		border-radius: 4px;
	}

	&__button-clone {
		margin: 16px 0;

		button {
			display: block;
			margin: 0 auto;
			font-size: 1.2em;
			cursor: pointer;

			&::before, &::after {
				content: "↓↓";
			}
			&::before { margin-right: .2em; }
			&::after { margin-left: .2em; }
		}
	}

	&__other-schedules {
		display: none;
	}
}
