.editor-styles-wrapper {
	.qms4__mega-menu {
		display: block;
		padding: 8px;
	}

	.qms4__mega-menu > .block-editor-inner-blocks {
		width: 100% !important;
	}

	.qms4__mega-menu > .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		align-items: stretch;
		gap: 8px;
	}
	.qms4__mega-menu[data-justify-content=flex-start] > .block-editor-inner-blocks > .block-editor-block-list__layout {
		justify-content: flex-start;
	}
	.qms4__mega-menu[data-justify-content=center] > .block-editor-inner-blocks > .block-editor-block-list__layout {
		justify-content: center;
	}
	.qms4__mega-menu[data-justify-content=flex-end] > .block-editor-inner-blocks > .block-editor-block-list__layout {
		justify-content: flex-end;
	}
	.qms4__mega-menu[data-justify-content=space-between] > .block-editor-inner-blocks > .block-editor-block-list__layout .qms4__mega-menu__item {
		flex-grow: 1;
	}
}
