.editor-styles-wrapper {
	.qms4__mega-menu__item {
		position: static !important;

		margin: 0 !important;

		.qms4__mega-menu__item__content {
			width: calc( 100% + 16px );
			top: calc( 100% + 8px );
			left: -8px;
		}

		&[data-show-submenu=true][data-selected=true] .qms4__mega-menu__item__content {
			display: block !important;
		}
	}

	.qms4__mega-menu__item__label .components-base-control,
	.qms4__mega-menu__item__label .components-base-control__field,
	.qms4__mega-menu__item__label .components-text-control__input {
		height: 100% !important;
	}
}
