.qms4__mega-menu__item {
	position: static;

	&__label {
		height: 100%;

		a, span {
			position: relative;

			display: flex;
			justify-content: center;
			align-items: center;

			width: 100%;
			padding: .6em 1.2em;

			color: inherit;
			text-decoration: none;
		}
		span {
			cursor: default;
		}
	}
	&:hover &__label {
		background-color: #f8f8f8;
	}

	&[data-show-submenu=true] &__label {
		a, span {
			padding-right: 2.2em;
		}

		a::after, span::after {
			content: " ";

			position: absolute;
			top: 50%;
			right: 1.2em;
			z-index: 1;
			transform: translateY(-50%) translateY(-4px) rotate(45deg);

			display: block;
			width: 8px;
			height: 8px;
			background-color: transparent;
			border-right: 1px solid #666;
			border-bottom: 1px solid #666;
		}
	}
	&[data-show-submenu=true]:hover &__label {
		a::after, span::after {
			transform: translateY(-50%) rotate(-135deg);
		}
	}

	&__content {
		display: none;

		position: absolute;
		top: 100%;
		left: 0;
		z-index: 10;

		width: 100%;
		padding: 24px 20px 20px;

		background-color: #f8f8f8;
	}
	&[data-show-submenu=true]:hover &__content {
		display: block;
	}
}
