.qms4__post-list__html.qms4__post-list__html:not(:root) {
	margin: 0;
	margin-top: 8px;

	&:first-child {
		margin-top: 0;
	}
}

.qms4__post-list__html {
	padding: 4px;
	color: #666;
	border: 1px solid #aaa;
	background-color: rgb(232, 232, 232);
}
